<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 - M4M</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">M4M</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-log" href="{% url 'login' %}" role="button">로그인</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="logo">
        <span class="m1">M</span>
        <span class="four">4</span>
        <span class="m2">M</span>
    </div>
    <div class="container">
        <h1 class="mt-3 signup-title">회원가입</h1> <!-- 회원가입 제목의 폰트 크기 조절 -->
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-row">
                    <label for="username" class="form-label">아이디</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="아이디를 입력하세요" required>
                </div>
                <small class="form-text text-muted">아이디는 6자 이상이어야 합니다.</small> <!-- 아이디 도움말 -->
            </div>
            <div class="form-group">
                <div class="form-row">
                    <label for="nickname" class="form-label">닉네임</label>
                    <input type="text" class="form-control" id="nickname" name="nickname" placeholder="닉네임을 입력하세요" required>
                </div>    
                <small class="form-text text-muted">닉네임은 3자 이상이어야 합니다.</small><!--닉네임 도움말-->
            </div>
            <div class="form-group">
                <div class="form-row">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
                </div>
                <small class="form-text text-muted">비밀번호는 8자 이상이어야 합니다.</small> <!-- 비밀번호 도움말 -->
            </div>
            <div class="form-group">
                <div class="form-row">
                    <label for="confirm_password" class="form-label">비밀번호 확인</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="비밀번호를 다시 입력하세요" required>
                </div>
                <small class="form-text text-muted">비밀번호를 다시 한 번 입력하세요.</small> <!-- 비밀번호 확인 도움말 -->
            </div>
            <div class="btn-container">
                <button type="button" class="btn btn-back" onclick="window.history.back()">뒤로</button>
                <button type="submit" class="btn btn-primary">회원가입</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
