<!DOCTYPE html>
<html lang="en" class="board">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M4M</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/community.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
</head>
<body class="board">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">M4M</a>
        <a class="nav-link btn btn-upload" href="{% url 'upload' %}" role="button">업로드</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link text-dark">안녕하세요 {{ user.nickname }} 님</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-log" href="{% url 'logout' %}" role="button">로그아웃</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-log" href="{% url 'login' %}" role="button">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-signup" href="{% url 'signup' %}" role="button">회원가입</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="board-container">
        <h1 class="board-title">게시판</h1>
        <table class="board-table">
            <thead>
                <tr>
                    <th class="board-th">번호</th>
                    <th class="board-th">제목</th>
                    <th class="board-th">작성자</th>
                    <th class="board-th">날짜</th>
                </tr>
            </thead>
            <tbody>
                {% for post in page_obj %}
                <tr>
                    <td class="board-td">{{ forloop.counter }}</td>
                    <td class="board-td"><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></td>
                    <td class="board-td">{{ post.author }}</td>
                    <td class="board-td">{{ post.date|date:"Y-m-d" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="board-pagination">
            <ul class="board-pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                    </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="board-btn-create-container">
            <a href="{% url 'create_post' %}" class="btn btn-primary board-btn-create">글쓰기</a>
        </div>
        <div class="board-search-container">
            <form action="{% url 'search_board' %}" method="get" class="board-search-box">
                <input type="text" name="query" placeholder="검색어를 입력하세요" class="board-search-container">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
